{% extends 'base/base.html' %}
{% load static %}
{% block body %}


<div class="container-fluid mt-4">
  <div class="row">
    {% for i in img %}
    {% for j in i %}
    <div class="col-md-3 my-2">
      <div class="video-card" style="width:300px; ">
      {% if user.is_authenticated %}
        <a href="{{j.get_absolute_url}}">
          <img class="" src="{{j.thumbnail.url}}" alt="Card image" width="320" height="200" style="border-radius: 3px;">
          <div class="card-body">
            <p class="card-title">{{j.title|slice:":60"}}</p>
            
        </a>
        {% else %}
        <a href="/signup">
          <img class="" src="{{j.thumbnail.url}}" alt="Card image" width="320" height="200" style="border-radius: 3px;">
          <div class="card-body">
            <p class="card-title">{{j.title|slice:":60"}}</p>
        
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
  <div class="col-md-4">

  </div>

  <div class="col-md-4">

  </div>
</div>
</div>



{% endblock  %}